@charset "UTF-8";

@font-face {
  font-family: "novanet-icons";
  src:url("../fonts/novanet-icons.eot");
  src:url("../fonts/novanet-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/novanet-icons.woff") format("woff"),
    url("../fonts/novanet-icons.ttf") format("truetype"),
    url("../fonts/novanet-icons.svg#novanet-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "novanet-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ni-"]:before,
[class*=" ni-"]:before {
  font-family: "novanet-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ni-backend:before {
  content: "\61";
}
.ni-ball:before {
  content: "\62";
}
.ni-brain:before {
  content: "\63";
}
.ni-chat:before {
  content: "\64";
}
.ni-comment:before {
  content: "\65";
}
.ni-compass:before {
  content: "\66";
}
.ni-connection:before {
  content: "\67";
}
.ni-database:before {
  content: "\68";
}
.ni-frontend:before {
  content: "\69";
}
.ni-gear:before {
  content: "\6a";
}
.ni-index:before {
  content: "\6b";
}
.ni-integration:before {
  content: "\6c";
}
.ni-lock:before {
  content: "\6d";
}
.ni-logo:before {
  content: "\6e";
}
.ni-message:before {
  content: "\6f";
}
.ni-pencil:before {
  content: "\70";
}
.ni-pin:before {
  content: "\71";
}
.ni-portfolio:before {
  content: "\72";
}
.ni-printer:before {
  content: "\73";
}
.ni-responsive:before {
  content: "\74";
}
.ni-rocket:before {
  content: "\75";
}
.ni-star:before {
  content: "\76";
}
.ni-sync:before {
  content: "\77";
}
.ni-tap:before {
  content: "\78";
}
.ni-tools:before {
  content: "\79";
}
.ni-webdev:before {
  content: "\7a";
}
.ni-webpage:before {
  content: "\41";
}
